html {
    font-size: 16px;
}

input {
    line-height: 1.5;
    width: 300px;
}

button,
input {
    font-size: 1.5rem;
}

/*Not Optimal*/
img.digit {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}
/*0-9*/
img.d0 {
    background-image: url("./v0/dgt_0.svg");
}