html {
    font-size: 16px;
}

div#grid {
    display: grid;
    justify-content: center;
}

button.cell {
    display: inline-grid;
    outline: none;
    border: 4px solid white;
}

button.cell.tnt {
    animation-name: danger;
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes danger {
    25%{
        width: 33vh;
        height: 33vh;
    }
    100% {
        background-color: transparent;
        width: 66vh;
        height: 66vh;
    }
}